
<!--댓글 퍼온거 별도 이벤트게시판 -->
<!-- Comment Area Start 댓글 리스트 -->
<div class="comment_area clearfix mt-70">
    <h5 class="title">Comments</h5>
    <ol>
        <!-- Single Comment Area -->
        <!--for each 시작-->
        <!--     <th:block th:each="e : ${evListComm}">-->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                    <img src="@{img/product/soju.jpg" alt="author">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <!--  <p class="post-date" th:text="${e.evpNum} + ': '" /><a href="#" class="post-date" th:text="${e.evPdate}" />
                      <p th:text="${e.evWriter}" />
                      <p th:text="'내용: ' + ${e.evCont}" />
                      <p th:text="'이벤트 참여 상태: ' + ${e.evStatus}" />
                      <p th:text="'당첨여부 (d:추첨 전): ' + ${e.evWin}" />-->

                    <p class="post-date" th:text="타임리프로 바꿔" /><a href="#" class="post-date" th:text="타임리프로 바꿔" />
                    <p th:text="타임리프로 바꿔" />
                    <p th:text="타임리프로 바꿔" />
                    <p th:text="타임리프로 바꿔" />
                    <p th:text="타임리프로 바꿔" />


                </div>
            </div>

            <!-- 작성자 일치 시 수정 및 삭제 버튼 생성 -->
            <!--         <th:if test="${#strings.equals(session.sessionID, e.evId)}">--><!--
                        <button type='button' class='btn btn-outline-warning' data-toggle='modal' th:data-target="'#modifyModal' + ${e.evpNum}">-->
            <button type='button' class='btn btn-outline-warning' data-toggle='modal' data-target="'#modifyModal">
                수정
            </button>
            <!--     <div class="modal fade" th:id="'modifyModal' + ${e.evpNum}" role="dialog">-->
            <div class="modal fade" id="modifyModal" role="dialog">
                <!-- 모달의 나머지 부분은 동일 -->
            </div>
            <!-- <a th:href="'evCommDel?evNum=' + ${vo.evNum} + '&evpNum=' + ${e.evpNum}" class="btn btn-outline-danger"
                onclick="return confirm('복구가 불가능합니다. 정말로 삭제하시겠습니까?')">삭제</a>-->
            <a th:href="'evCommDel?evNum=" class="btn btn-outline-danger"
               onclick="return confirm('복구가 불가능합니다. 정말로 삭제하시겠습니까?')">삭제</a>
            <!--</th:if>-->
        </li>
        <!-- </th:block>-->
        <!--for each 끝-->


        <!-- Single Comment Area
       <li class="single_comment_area">
            Comment Content
           <div class="comment-content d-flex">
                Comment Author
               <div class="comment-author">
                   <img src="img/product/party.jpg" alt="author">
               </div>
                Comment Meta
               <div class="comment-meta">
                   <a href="#" class="post-date">2023-07-12</a>
                   <p><a href="#" class="post-author">댓글작성자2</a></p>

                   <p>댓글내용</p>
               </div>
           </div>
       </li>

        Single Comment Area
       <li class="single_comment_area">
            Comment Content
           <div class="comment-content d-flex">
                Comment Author
               <div class="comment-author">
                   <img src="img/product/sssoju.jpg" alt="author">
               </div>
                Comment Meta
               <div class="comment-meta">
                   <a href="#" class="post-date">2023-07-12</a>
                   <p><a href="#" class="post-author">댓글작성자3</a></p>

                   <p>댓글내용</p>
               </div>
           </div>
       </li> -->
    </ol>
</div>
<!-- Comment Area Start 댓글 리스트 끝 -->

<!--댓글 page영역 -->



<!--  로그인 후: 댓글 작성 가능-->
<!--choose 시작-->
<!-- <div th:if="${session.sessionID != null}">-->
<!-- 댓글 입력폼 -->
<div class="post-a-comment-area mt-70">
    <h5>Leave a reply</h5>
    <!-- Reply Form -->
    <!--<form th:action="@{'evCommInsert?evNum=' + ${vo.evNum}}" method="post">-->
    <form action="evCommInsert?evNum=" method="post">
        <div>
            <!-- 이벤트 참여여부 선택 -->
            <label> <input type="radio" name="evStatus" id="evStatus1" checked="checked" value="y"> 이벤트 참여
            </label> <label> <input type="radio" name="evStatus" id="evStatus" value="n"> 응원하기
        </label> <br> <input type="text" name="evWriter" id="evWriter" value="세션네임자리" readonly>

            <!--테스트용 닉네임설정	<input type="text" name="evWriter" id="evWriter" value="루피3"
                readonly="readonly"> -->
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="group">
                    <!--히든 영역  -->
                    <input type="hidden" name="evpreip" id="evpreip" value="ip자리">
                    <!--<input type="hidden" name="evpreip" id="evpreip" th:value="ip자리">
                    <input type="hidden" id="evId" name="evId" th:value="세션아이디자리">-->
                    <input type="hidden" id="evId" name="evId" value="세션아이디자리">
                    <!--외래키 -->
                    <input type="hidden" name="evboardNum" id="evboardNum" value="이벤트넘버자리">
                    <!--히든 영역  끝 -->
                    <span class="highlight"></span> <span class="bar"></span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- <div class="group">
                    <input type="email" name="email" id="email" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div> -->
            </div>
            <div class="col-12">
                <div class="group">
                    <span class="highlight"></span> <span class="bar"></span> <label>Comment</label>
                    <br>
                    <textarea name="evCont" id="evCont" required placeholder="링크나 응원글 남겨주세요"></textarea>
                </div>
            </div>
            <div class="col-12">
                <!--<div class="group">
                    <textarea name="message" id="message" required></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Comment</label>
                </div>-->
            </div>
            <div class="col-12">
                <button type="submit" class="btn original-btn">Reply</button>
            </div>
        </div>
    </form>
</div>
</div>
<!--choose 끝-->


<!--댓글 퍼온거 별도 끝-->
