<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headerFragment">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Drinking Heaven</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">
        <script src="https://kit.fontawesome.com/7e3d31a32c.js" crossorigin="anonymous"></script><!--지우기-->
        <!-- Google Web Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">

        <div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
            <div class="row gx-0 align-items-center d-none d-lg-flex">
                <!--DB적용 후 바꿀 부분-->
                <!-- 로그인 전 -->
                <div class="col-lg-6 px-5 text-start" th:if="${sessionID == null}" style="height: 48px; line-height: 48px;">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a class="small text-light" th:href="@{/join}" style="text-align: center;">회원가입</a></li>
                        <li class="breadcrumb-item"><a class="small text-light" th:href="@{/loginForm}" style="text-align: center;">로그인</a></li>
                    </ol>
                </div><!-- 로그인 전 -->

                <!-- 로그인 후 -->
                <div class="col-lg-6 px-5 text-start" th:if="${sessionID != null}" style="height: 48px; line-height: 48px;">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a class="small text-light" th:href="@{${application.getContextPath()}/mypage?email=${sessionID}}" style="font-family: 'NanumSquareNeo-Variable';border: 1px solid rgb(223, 223, 223);border-radius: 5px;padding: 5px 20px;font-weight: bold;">
                                <img th:src="img/my.svg" style="width:25px;height:25px;border-radius: 50%;margin-right: 7px;"/>
                                <span th:text="${sessionName}"></span>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="small text-light" th:href="@{/logout}" style="font-family: 'NanumSquareNeo-Variable';font-weight: bold;">로그아웃</a>
                        </li>
                    </ol>
                </div><!-- 로그인 후 -->
                <!--DB적용 후 바꿀 부분
                <div class="col-lg-6 px-5 text-end">
                    <small>Follow us:</small>
                    <div class="h-100 d-inline-flex align-items-center">
                        <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn-lg-square text-primary pe-0" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</html>