<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <footer class="subfooter" th:fragment="subfooterFragment">
    <div class="subfooter-container-fluid text-light" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
      <div class="subfooter-container">
        <div class="subfooter-row">
          <div class="subfooter-col">
            <h4 class="text-light mb-4">주당들의 천국</h4>
            <p class="mb-2 text-light"><i class="fa-map-marker-alt i1"></i>서울시 강남구 테헤란로 3길 1길 </p>
            <p class="mb-2 text-light"><i class="fa-phone-alt i1"></i>02 123 67890</p>
            <p class="mb-2 text-light"><i class="fa-envelope i1"></i>drinkingheaven@heaven.com</p>
            <div class="subfooter-col-div">
              <a class="btn" href=""><i class="fa-twitter i2"></i></a>
              <a class="btn" href=""><i class="fa-youtube i2"></i></a>
              <a class="btn" href=""><i class="fa-linkedin-in i2"></i></a>
            </div>
          </div>
          <div class="subfooter-col">
            <h4 class="text-light mb-4">고객센터</h4>
            <a class="btn-link" href="">1600-3333</a>
            <a class="btn-link" href="">월~금 9시~6시</a>
            <a class="btn-link" href="">email</a>
            <a class="btn-link" href="">support@heaven.com</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
