<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="subnavFragment" class="subnav" data-wow-delay="0.1s">
    <a th:href = "@{/}" class="subnav-brand">
        <h1>Drinking Heaven</h1>
    </a>

    <div class="subnav-collapse" id="subnavCollapse">
        <div class="subnav-nav mx-auto p-4 p-lg-0">
            <a th:href = "@{/}" class="subnav-item subnav-link active">Home</a>
            <!-- 로그인 전 -->
            <th:block th:if="${session.sessionMember == null and session.sessionMemberK == null}">
                <a th:href="@{/join}" class="nav-item nav-link active" style="color: #EAA636; opacity: 1; margin-top: 28px;">회원가입</a>
                <a th:href="@{/loginForm}" class="nav-item nav-link active" style="color: #EAA636; opacity: 1; margin-top: 28px;">로그인</a>
                <!-- 로그인 전 -->
            </th:block>
            <!-- 로그인 후 -->
            <th:block th:if="${session.sessionMember != null or session.sessionMemberK != null}">
                <a th:href="@{/mypage}"  class="nav-item nav-link active" style="color: #EAA636; opacity: 1; margin-top: 28px;">마이페이지</a>
                <a th:href="${session.sessionMember != null ? '/logout' : '/kakao/logout'}" class="nav-item nav-link active" style="color: #EAA636; opacity: 1; margin-top: 28px;">로그아웃</a>
<!--                <a th:href="@{/logout}" class="nav-item nav-link active" style="color: #EAA636; opacity: 1; margin-top: 28px;">로그아웃</a>-->
                <!--     <h3>[[${session.sessionNickname}]]님 환영합니다!</h3>-->
            </th:block>
            <!-- 로그인 후 -->


            <a th:href = "@{/product/list}" class="subnav-item subnav-link">신상품</a>

            <div class="subnav-item dropdown">
                <a href="#" class="subnav-link dropdown-toggle" data-bs-toggle="dropdown">안주 카테고리</a>
                <div class="dropdown-menu m-0">
                    <a th:href = "@{/product/beer/list}" class="dropdown-item">맥주</a>
                    <a th:href = "@{/product/soju/list}" class="dropdown-item">소주</a>
                    <a th:href = "@{/product/wine/list}" class="dropdown-item">와인</a>
                    <a th:href = "@{/product/mak/list}" class="dropdown-item">전통주</a>
                </div>
            </div>
            <a th:href = "@{/product/list}" class="nav-item nav-link" id="subnav_ch1" style="color: white; opacity: 1; margin-top: 28px;">특가/세일</a>
            <a th:href = "@{/product/list}" class="nav-item nav-link" id="subnav_ch2" style="color: white; opacity: 1; margin-top: 28px;">주류예약</a>
            <a th:href = "@{/product/cart}" class="nav-item nav-link" id="subnav_ch3" style="color: white; opacity: 1; margin-top: 28px;">고객센터</a>
            <a th:href = "@{/product/cart}" class="nav-item nav-link" id="subnav_ch4" style="color: white; opacity: 1; margin-top: 28px;">장바구니</a>
        </div>
        <th:block th:if="${session.sessionEmail != null}">
            <h6 style="color: white; font-weight: 100;">[[${session.sessionNickname}]]님 환영합니다!</h6>
        </th:block>
    </div>

</nav>

